<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../../../Day18/PLC/css/main.css">
</head>

<body>

    <div class="container m-3">

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label id="lblCustomerName" class="form-control">Test</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblCustomerType" class="form-control">Test</label>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label id="lblCustomerState" class="form-control">Test</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label id="lblProductName" class="form-control">Test</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblProductPrice" class="form-control">Test</label>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label id="lblProductQuantity" class="form-control">Test</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-8">
                <div style="float: right; text-align: center">
                    <label>Total Price :</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblTotalPrice" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>Discount Rate : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblDiscountRate" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>Discount Price : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblDiscountPrice" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>Gross Price : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblGrossPrice" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>CGST 9% : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblCgst" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>SGST 9% : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblSgst" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>IGST 18% : </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblIgst" class="form-control">Test</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="floatdiv">
                    <label>Net Price: </label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label id="lblNetPrice" class="form-control">Test</label>
                </div>
            </div>
        </div>

    </div>

</body>

<script src="../Lib/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



<script src="../Controller/salesInvoiceController.js"></script>

</html>